    <header class="pt-5 mb-5">
        <img id="fondgauche" src="img/left-leaf.svg">
        
        <section class="container pt-md-5 pl-md-5">
            <div class="row mt-md-5">
                <div class="col-md-5 pt-5 pl-md-5">
                    <h1>Personnes de l’arbre généalogique dont le nom de famille est <span>Lacroix</span>.</h1>
                    <p class="pt-4">Ne vous êtes vous jamais demandé qui étaient vos ancêtres? N’attendez plus, trouvez-les dès maintenant et faites des découvertes des plus remarquables.</p>
                    <button type="button" class="btn btn-danger mt-3">Partager les informations</button>
                </div>

                <div class="col-md-6 pl-5 pt-3 pr-5">
                    <img class="img-fluid" style="width: 85%" src="img/search.png">
                </div>
            </div>

        </section>

        <img id="fonddroit" src="img/right-leaf.svg">

        <section id="section10" class="demo">
            <!--<h1>Scroll Down Button #10</h1>-->
            <a href="#thanks"><span></span></a>
        </section>

    </header>

    <section class="rechercheAide container pt-md-5 pl-md-5 mb-5">
        <div class="row result">
            <div class="col-md-12">
                <h2> <svg height="20" width="55"><line x1="5" y1="7" x2="42" y2="7" stroke-linecap="round" style="stroke:#e7375c; stroke-width: 3"></line> </svg>Résultats</h2>
                <p id="info">Voici le nombre de personnes  qui porte le nom de <span style="color: #e7375c">Lacroix</span>.</p>
            </div>

            <div class="px-5 mt-5 mr-md-4" style="border-right: 1px solid grey">
                <h3>Lacroix</h3>
            </div>

            <div class="px-5 px-md-4 mt-5">
                <h3>19798</h3>
            </div>



        </div>

    </section>


    <section id="lieu" class="container pt-5 pl-md-5 mb-5">
        <div class="row">
            <div class="col-md-12">
                <h2> <svg height="20" width="55"><line x1="5" y1="7" x2="42" y2="7" stroke-linecap="round" style="stroke:#e7375c; stroke-width: 3"></line> </svg>Lieux où l’on retrouve le plus souvent le nom Lacroix.</h2>
                <p class="mb-5">Voici les meilleurs résultats obtenus dans les différentes régions de France.</p>
                
                <div class="row position mt-5">

                    <div class="col-md-4 region">
                        <img class="img-fluid" src="img/normandie.png">
                        <h3>Normandie</h3>
                        <p>622 personnes dans la rubrique « Arbre Familial »</p>
                    </div>

                    <div class="col-md-4 region">
                        <img class="img-fluid" src="img/ile-de-franc.png">
                        <h3>Île-de-France</h3>
                        <p>322 personnes dans la rubrique « Arbre Familial »</p>
                    </div>

                    <div class="col-md-4 region">
                        <img class="img-fluid" src="img/corse.png">
                        <h3>Corse</h3>
                        <p>72 personnes dans la rubrique « Arbre Familial »</p>
                    </div>

                </div>

                
            </div>
        </div>

    </section>


<section id="descendant" class="container pt-5 pl-md-5 mb-1 pb-1">
    <div class="row">
        <div class="col-md-12">
            <h2> <svg height="20" width="55"><line x1="5" y1="7" x2="42" y2="7" stroke-linecap="round" style="stroke:#e7375c; stroke-width: 3"></line> </svg>Premières personnes de l’arbre généalogique  à porter le nom Lacroix</h2>
            <p class="mb-5">Voici les meilleurs résultats obtenus.</p>
        </div>

        <div class="col-md-3 mx-md-5">
            <div class="swiper-slide mb-5">
                <div class="card">
                    <div class="placementnom">
                        <img class="card-img-top" src="img/bg-f.png" alt="Card image cap">
                        <h4 class="mt-5">Fabio Cirillo</h4>
                    </div>
                    <small>1943</small>
                    <div class="card-block px-3">
                        <h5 class="card-text">Naissance</h5>
                        <p>Céline</p>

                        <h5 class="card-text mt-3">Décès</h5>
                        <p>Céline</p>

                        <h5 class="card-text mt-3">Conjoint</h5>
                        <p>Céline</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-danger mt-2">En savoir plus…</button><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mx-md-5">
            <div class="swiper-slide mb-5">
                <div class="card">
                    <div class="placementnom">
                        <img class="card-img-top" src="img/bg-m.png" alt="Card image cap">
                        <h4 class="mt-5">Fabio Cirillo</h4>
                    </div>
                    <small>1943</small>
                    <div class="card-block px-3">
                        <h5 class="card-text">Naissance</h5>
                        <p>Céline</p>

                        <h5 class="card-text mt-3">Décès</h5>
                        <p>Céline</p>

                        <h5 class="card-text mt-3">Conjoint</h5>
                        <p>Céline</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-danger mt-2">En savoir plus…</button><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3 mx-md-4">
            <div class="swiper-slide mb-5">
                <div class="card">
                    <div class="placementnom">
                        <img class="card-img-top" src="img/bg-f.png" alt="Card image cap">
                        <h4 class="mt-5">Fabio Cirillo</h4>
                    </div>
                    <small>1943</small>
                    <div class="card-block px-3">
                        <h5 class="card-text">Naissance</h5>
                        <p>Céline</p>

                        <h5 class="card-text mt-3">Décès</h5>
                        <p>Céline</p>

                        <h5 class="card-text mt-3">Conjoint</h5>
                        <p>Céline</p>
                    </div>
                    <div class="card-footer">
                        <button type="button" class="btn btn-danger mt-2">En savoir plus…</button><br>
                    </div>
                </div>
            </div>
        </div>


    </div>

</section>

<section id="blaa" class="container mx-auto mb-5">
    <div class="row">
        <button type="button" class="btn btn-danger mx-auto" id="more">Afficher d'avantage</button>


    </div>

</section>